# Charmcraft
*.charm
charms/*/build/
charms/*/.charmcraft-build*/
charmcraft-log-*.txt

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Docs
site/

# Editors / OS
.idea/
.vscode/
.DS_Store

# Local scratch
.scratch/
